.nav {
    background: rgba(0, 0, 0, 0.3);
    align-items: center;
    width: max-content;
    display: block;
    padding: 0.7rem 2rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
   
    border-radius: 3rem;
    backdrop-filter: blur(15px);
  }
  
  nav a {
    background: transparent;
   
    padding: .8rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
   
  }
  
  .nav a:hover {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    padding: .8rem;
  }
  
  .navactive {
    background: black;
    border-radius: 50%;
    padding: .8rem;
    color: var(--color-white);
  }


  .link:hover{
       color: #2c2c6c;
  }