.box2{
    background-color: #02054B;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    border-radius: 10px;
    width: 350px;
}

.box2:hover{
    background-color: transparent;
    border: 1px solid #4db5ff;
}

.icon{
    color: #4db5ff;
}

.icon:hover{
    color: #4db5ff;
    
}

.skillflex{
    align-items: center;
}

.poster{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    height: 150px;
    border-radius: 5px;
}

.desc{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    /* color: #4db5ff; */
  }


  .name{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 68px;
    color: #4db5ff;
  }
  
  
 