body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Montserrat', 'Aktiv Grotesk', 'Circular', 'Santis', 'Lato', 'Proxima Nova', 'Gotham Rounded', 'Noto Serif','Texta';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-image: url(../src/routes/Images/bg-texture.png);
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
